header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-between;
  flex-wrap: wrap;
}

.columnaPrincipal {
  display: flex;
  width: 600px;
  background-color: azure;
  justify-content: center;
  flex: 1;
  padding: 15px;
}

.columnaSecundaria {
  background-color: cornsilk;
  display: flex;
  width: 300px;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
}
