nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  width: 250px;
}

nav ul li {
  background-color: #e0e0e0;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

nav ul li button {
  margin-left: 30px;
  padding: 6px 12px;
  cursor: pointer;
}
