header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
